<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-3">
        <app-recipes-list></app-recipes-list>
    </div>
    <div class="col-md-9">
        <app-recipes-detail 
        *ngIf="selectedRecipe; else infoText"
        [recipe]="selectedRecipe"></app-recipes-detail>
        <ng-template #infoText>
            <p>Please select a Recipe!</p>
        </ng-template>
    </div>
</div>
